<table class="min-w-full bg-white border border-gray-200 rounded-md">
  <thead>
    <tr class="bg-gray-100 text-left">
      <th class="py-2 px-4">Nombre</th>
      <th class="py-2 px-4">Categoría</th>
      <th class="py-2 px-4">Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products" class="border-t">
      <td class="py-2 px-4">{{ product.name }}</td>
      <td class="py-2 px-4">{{ product.category }}</td>
      <td class="py-2 px-4">${{ product.price }}</td>
    </tr>
  </tbody>
</table>
